
{% extends 'base.html' %}
   
{% block content %}
    <h1>{{nama_aplikasi}}</h1>
    <div>
        <p>Nama : {{nama}}</p>
        <p>Class : {{class}}</p>
        <p>Sedang Login : {{pengguna_login}}</p>
    </div>
    <div>
        <p> Terdapat {{jumlah_item}} pesawat yang terdaftar pada aplikasi Inventory ini </p>
    </div>
    <div>
           <table>
                <tr>
                    <th>Name</th>
                    <th>Amount</th>
                    <th>Add Amount</th>
                    <th>Description</th>
                    <th>Engine Type</th>
                    <th>Have Winglet</th>
                    <th>Delete Item</th>
                </tr>
            
                {% comment %} Berikut cara memperlihatkan data produk di bawah baris ini {% endcomment %}
            
                {% for item in inventory %}
                    <tr>
                        <td>{{item.name}}</td>
                        <td>{{item.amount}}</td>
                        <td><a href="{% url 'main:add_amount' item.id %}"><button>Add Amount</button></td>
                        <td>{{item.description}}</td>
                        <td>{{item.engine}}</td>
                        <td>{{item.winglet}}</td>
                        <td><a href="{% url 'main:delete_data' item.id %}"><button>Delete Data</button></td>
                    </tr>
                {% endfor %}
            </table>
            
            <br />
            
            <a href="{% url 'main:add_item' %}">
                <button>
                    Add New Item
                </button>
            </a>
            <h5>Sedang Login {{pengguna_login}} di waktu {{ last_login }}</h5>
            <a href="{% url 'main:logout' %}">
                <button>
                    Logout
                </button>
            </a>
        </div>
    {% endblock content %}
